<li class="rightside" data-skip-responsive="true">
    <div class="header-profile dropdown-container">
        <a href="#" class="dropdown-trigger" onclick="qrlogin_onclick()" style="background-image:url(./ext/qrlogin/qrlogin/styles/all/theme/images/logo.png); background-position: 0 50%; background-repeat: no-repeat; background-size: 16px; padding: 0 0 0 20px;">{L_QRLOGIN}</a>
        <div id="qrlogin_dropdown" class="dropdown" style="display:none; max-width:240px;">
            <div class="pointer"><div class="pointer-inner"></div></div>
            <ul class="dropdown-contents">
                <li style="white-space: normal; padding:0">
                    <a id="qrl_qrcode" href="http://qrlogin.info" target="_blank" style="float:right"></a>
                    {L_SCAN_QRLOGIN_PROMPT}
                    <span id="qrlogin_dots"></span>
                </li>
            </ul>
        </div>
    </div>
</li>
<script type="text/javascript">
    var qrlogin_forum_url = "{A_QRLOGIN_FORUM_URL}";
    var qrlogin_ajax_url = "{A_QRLOGIN_AJAX_URL}";
    var qrlogin_sid = "{A_QRLOGIN_SID}";
    var qrlogin_title = "{LA_SCAN_QRLOGIN}";
</script>
<!-- INCLUDEJS @qrlogin_qrlogin/javascript/qrcode.js -->
<!-- INCLUDEJS @qrlogin_qrlogin/javascript/qrlogin_ajax.js -->
