{% INCLUDE 'ucp_header.html' %}

<form id="ucp" method="post" action="{S_UCP_ACTION}">
    <h2>
        <a href="http://qrlogin.info" target="_blank">
            <img src="./ext/qrlogin/qrlogin/styles/all/theme/images/logo.svg" width="30" title="{L_GOTO_SITE_QRLOGIN}">
        </a>
        {L_UCP_QRLOGIN_SETTINGS}
    </h2>
    <div class="panel">
		<div class="inner">
            <fieldset>
                <dl>
                    <dt>
                        <label>{L_SCAN_FOR_QRLOGIN}{L_COLON}</label><br />
                        <span id="qrlogin_description">{L_SCAN_DESCRIPTION}</span>
                    </dt>
                    <dd>
                        <a id="qrl_qrcode" href="http://qrlogin.info" target="_blank"></a>
                    </dd>
                </dl>
            </fieldset>
		</div>
	</div>
	<div class="panel">
        <div class="inner">
            <fieldset>
                <dl>
                    <dt><label>{L_ABOUT_QRLOGIN}{L_COLON}</label></dt>
                </dl>
                {L_QRLOGIN_DESCRIPTION}
                <br /><br />
            </fieldset>
            <hr />
            <div>
                <a href="https://play.google.com/store/apps/details?id=com.qrlogin" target="_blank">
                    <img src="./ext/qrlogin/qrlogin/styles/all/theme/images/google-button.svg" width="80">
                </a>
                <a href="https://itunes.apple.com/ua/app/qrlogin/id1240222885" target="_blank">
                    <img src="./ext/qrlogin/qrlogin/styles/all/theme/images/apple-button.svg" width="80">
                </a>
            </div>
		</div>
	</div>
</form>
<script type="text/javascript">
    var qrlogin_txt = "QRLOGIN\nNU:V1\n{A_QRLOGIN_FORUM_URL}\n{A_QRLOGIN_POST_URL}\n{S_USERNAME}\n\n2";
    var qrlogin_title = "{LA_SCAN_QRLOGIN}";
</script>
<!-- INCLUDEJS @qrlogin_qrlogin/javascript/qrcode.js -->
<!-- INCLUDEJS @qrlogin_qrlogin/javascript/qrlogin_ucp.js -->

{% INCLUDE 'ucp_footer.html' %}
